.m_container {
    width: 100%;
    height: 100%;
    background: rgb(238, 238, 238);
    .m_content {
        padding:30px 18px 18px 18px;
        overflow: hidden;
        position: relative;
    }
}