
.field-box {
  display: flex;
  margin-right: 5px;
  align-items: center;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  .field-avater {  
    background-color: #ff9f73;
  }

  .field-info {
    height: 28px;
    line-height: 28px; 
    display: flex;
    flex-direction: column;
    .field-value {
      height: 20px;
      line-height: 20px;
      font-size: 0.75rem;
    }
    .field-value-center { 
      line-height: 28px;
      font-size: 0.75rem;
    }
    .field-label {
      height: 20px;
      line-height: 20px;
      font-size: 0.75rem;
      color: #c0c4cc;
    }
  }
  .field-oper {
    height: 28px;
    line-height: 28px;
    margin-right: 5px; 
    display: none;
  }  
}
.field-box:hover .field-info.enabled {
  display: none;
}
.field-box:hover .field-oper.enabled {
  display: inline;
}


.dashed-circle {
  height: 28px;
  width:  28px;
  line-height: 28px;
  border: 2px dashed #000000; 
  border-radius: 50%;
}
.field-box:hover .dashed-circle {
  border: 2px dashed #409eff;
}


.avatar-container {
  height: 28px;
  display: flex;
  align-items: center;
  .avatar-wrapper {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      .user-avatar {
          height: 28px;
          width: 28px;
          border-radius: 50%;
          margin-right: 5px;
      }
      .username{
          color: #7D7D7D;
          font-size: 0.75rem; 
      }
      .el-icon-caret-bottom {
          font-size: 18px;
      }
  }
}



.field-box.small { 
  height: 32px;
  line-height: 32px; 

  .field-info {
    height: 32px;
    line-height: 32px;  
    .field-value {
      height: 20px;
      line-height: 20px; 
    }
    .field-value-center { 
      line-height: 32px; 
    }
    .field-label {
      height: 20px;
      line-height: 20px; 
    }
  }
  .field-oper {
    height: 32px;
    line-height: 32px; 
  }

} 
.small .dashed-circle {
  height: 32px;
  width:  32px;
  line-height: 32px; 
} 


.small .avatar-container {
  height: 32px; 
  .avatar-wrapper { 
      .user-avatar {
          height: 32px;
          width: 32px; 
      }
      .username{
          color: #7D7D7D;
          font-size: 0.75rem; 
      }
      .el-icon-caret-bottom {
          font-size: 18px;
      }
  }
}


.field-box.medium { 
  height: 36px;
  line-height: 36px; 

  .field-info {
    height: 36px;
    line-height: 36px;  
    .field-value {
      height: 20px;
      line-height: 20px; 
    }
    .field-value-center { 
      line-height: 36px; 
    }
    .field-label {
      height: 20px;
      line-height: 20px; 
    }
  }
  .field-oper {
    height: 36px;
    line-height: 36px; 
  }

} 
.medium .dashed-circle {
  height: 36px;
  width:  36px;
  line-height: 36px; 
} 


.medium .avatar-container {
  height: 36px; 
  .avatar-wrapper { 
      .user-avatar {
          height: 36px;
          width: 36px; 
      }
      .username{
          color: #7D7D7D;
          font-size: 0.75rem; 
      }
      .el-icon-caret-bottom {
          font-size: 18px;
      }
  }
}